body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #967E76;
  color: aliceblue;
}

header {
  padding: 1rem;
  background-color: #967E76;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: darkgray;
  color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

header > a.active {
  background-color: #D7C0AE;
  color: aliceblue;
  text-decoration: underline;
  text-decoration-color: #967E76;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.2rem;
} 

#root > main {
  flex-grow: 1;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEE3CB;
}

.page-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.errorMessage {
  color: darkred;
}

#products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

#products aside {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}

#products aside h1 {
  font-weight: 300;
}

#products aside a {
  padding: 1rem;
  background-color: #9BABB8;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
}

#productDetail {
  margin-top: 10rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#productDetail img {
  width: 20rem;
}

#productDetail .buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #D7C0AE;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #967E76;
}

#cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.shopping-cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shopping-cart-item img {
  width: 60px; 
  height: 60px; 
  margin-right: 10px;
}

.shopping-cart-buttons {
  display: flex;
  margin-left: 3rem;
  gap: 0.5rem;
}

.item-price label,
.item-quantity label {
  font-weight: bold;
  margin-left: 1rem;
}


#total-price-container {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 2rem;
}